
{% extends 'common/_base-layout.njk' %}

{% block content %}



<section class="main">

    {% include "common/_aside.njk" %}


    <div class="content-wrapper">
        <main class="content-inner">

            {% include "common/_slider.njk" %}

            <ul class="product-list">

                {% for i in range(0, 8) %}

                <li class="product-item">
                    <a class="product-item__link" href="">
                        <img class="product-item__img" src="/src/assets/img/prod.jpg" alt="generic_img">
                    </a>
                    <div class="product-item--info-wrapper">
                        <h3 class="product-item__title">Вок "Рис с говядиной"</h3>
                        <p class="product-item__desc">Рассыпчатый рис, обжаренный со свежими овощами и ломтиками нежной говядины до золотистого цвета под фирменным соусом .</p>
                        <div class="product-item--controls-wrapper">
                                    <span class="product-item__price">
                                        365
                                        <svg class="" width="25" height="30" fill="#ffffff"><use xlink:href="#rubles"></use></svg>
                                    </span>
                            <span class="product-item__weight">
                                        <span>800</span>
                                        <span>гр</span>
                                    </span>
                            <button class="btn product-item__btn">В корзину</button>
                        </div>
                    </div>
                </li>
                {%- endfor %}
            </ul>

        </main>
    </div>
</section>

{% endblock %}
