
.btn {
  min-width: 160px;
  padding: 12px 9px;
  font-size: 16px;
  font-weight: 900;
  color: $white;
  border-radius: 6px;
  background-color: $red-100;

  &:active, &:focus {
    outline: none;
  }

}


