
.btn {
  padding: 15px 20px;
  &:hover {

  }

  &:active, &:focus {
    outline: none;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--lowercase {
    text-transform: lowercase;
  }

}
