
$img_dir : "/src/assets/img";
$font_dir : "/src/assets/fonts";
$tpl_dir : "/src/assets/tpl";



$black: #000000;
$white: #ffffff;

$dark-100: #1C1E1B;
$dark-200: #131513;

$red-100: #FF5203;


$container-width : 1920px;

$header-z-index: 3;
$aside-z-index: 2;


$mobile-width: 480px;
$tablet-width: 760px;
$tablet-lg-width: 980px;
$desctop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;









