

<aside class="aside">
    <ul class="aside-nav">

        <li class="aside-nav__item">
            <a class="aside-nav__link " href="#">
                <span class="aside-nav__img aside-nav__img--discount"></span>
                <span class="aside-nav__desc">Наборы</span>
            </a>
        </li>

        <li class="aside-nav__item">
            <a class="aside-nav__link " href="#">
                <span class="aside-nav__img aside-nav__img--pizza"></span>
                <span class="aside-nav__desc">Пицца</span>
            </a>
        </li>

        <li class="aside-nav__item">
            <a class="aside-nav__link " href="#">
                <span class="aside-nav__img aside-nav__img--burger"></span>
                <span class="aside-nav__desc">Бургеры</span>
            </a>
        </li>
        <li class="aside-nav__item">
            <a class="aside-nav__link " href="#">
                <span class="aside-nav__img aside-nav__img--pie"></span>
                <span class="aside-nav__desc">Пироги</span>
            </a>
        </li>

        <li class="aside-nav__item">
            <a class="aside-nav__link" href="#">
                <span class="aside-nav__img aside-nav__img--sweets"></span>
                <span class="aside-nav__desc">Десерты</span>
            </a>
        </li>
        <li class="aside-nav__item">
            <a class="aside-nav__link" href="#">
                <span class="aside-nav__img aside-nav__img--drink"></span>
                <span class="aside-nav__desc">Напитки</span>
            </a>
        </li>
    </ul>
</aside>