

<footer class="footer">
    footer

    <ul class="footer-social-list">
        <li><a href="#" target="_blank" class="footer-social-list__link"></a></li>
        <li><a href="#" target="_blank" class="footer-social-list__link"></a></li>
        <li><a href="#" target="_blank" class="footer-social-list__link"></a></li>
    </ul>


</footer>
