

<header class="header">
    <nav class="main-nav">
        <a class="main-nav__logo-link" href="">
            <img class="main-nav__logo-img" src="/src/assets/img/papa-logo.svg" alt="generic_img">
        </a>

        <ul class="site-nav">
            <li class="site-nav__item"><a href="" class="site-nav__link">Акции</a></li>
            <li class="site-nav__item"><a href="" class="site-nav__link">Доставка</a></li>
            <li class="site-nav__item"><a href="" class="site-nav__link">Отзывы</a></li>
            <li class="site-nav__item"><a href="" class="site-nav__link">Контакты</a></li>
            <li class="site-nav__item"><a href="" class="site-nav__link">Карьера</a></li>
        </ul>
        <ul class="user-nav">
            <li class="user-nav__item">
                <a href="tel::8006129969" class="user-nav__link">
                    <svg width="29" height="30">
                        <use xlink:href="#phone"></use>
                    </svg>&nbsp;
                    (800)&nbsp;
                    <span class="user-nav__link--text-lg">612-99-69</span>
                </a>
            </li>
            <li class="user-nav__item">
                <a href="" class="user-nav__link">
                    <svg class="user-nav__cart" width="45" height="50" fill="#fff">
                        <use xlink:href="#cart"></use>
                    </svg>
                    <sup class="cart-count">12</sup>
                </a>
            </li>
        </ul>
    </nav>
</header>