
.aside {
  min-width: 150px;
  min-height: 100vh;
  position: fixed;
  z-index: $aside-z-index;
  background-color: $dark-100;
}

.aside-nav {
  display: flex;
  flex-direction: column;
}


.aside-nav__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    right: 20px;
    background-color: #ec4525;
    height: 2px;
  }
}


.aside-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  color: $white;

  &:hover {
    background-color: $dark-200;

    .aside-nav__desc {
      padding: 0 25px;
      font-size: 22px;
    }
  }
}


.aside-nav__img {
  width: 80px;
  height: 80px;
  background: url("/src/assets/img/aside-sprite.png") no-repeat;

  &--discount {
    background-position: -95px -5px;
  }

  &--pizza {
    background-position: -90px -95px;
  }

  &--burger {
    background-position: -5px -5px;
  }

  &--pie {
    background-position: -5px -95px;
  }

  &--sweets {
    background-position: -95px -185px;
  }

  &--drink {
    background-position: -185px -5px;
  }

}


.aside-nav__desc {
  transition: .4s ease;
  font-size: 0;
  font-weight: 900;
  text-transform: uppercase;
}

















